In [2]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [4]:
dataset = pd.read_csv('hiring.csv')

dataset['experience'].fillna(0, inplace=True)

dataset['test_score'].fillna(dataset['test_score'].mean(), inplace=True)

In [7]:
X = dataset.iloc[:, :3]

#Converting words to integer values
def convert_to_int(word):
    word_dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8,
                'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0, 0: 0}
    return word_dict[word]

X['experience'] = X['experience'].apply(lambda x : convert_to_int(x))

y = dataset.iloc[:, -1]

In [13]:
X.describe()

       experience  test_score  interview_score
count     8.00000    8.000000         8.000000
mean      4.75000    7.857143         7.875000
std       4.26782    1.245400         1.642081
min       0.00000    6.000000         6.000000
25%       1.50000    7.000000         6.750000
50%       4.00000    7.928571         7.500000
75%       7.75000    8.250000         9.250000
max      11.00000   10.000000        10.000000

0    50000
1    45000
2    60000
3    65000
4    70000
Name: salary($), dtype: int64

In [ ]:


#Splitting Training and Test Set
#Since we have a very small dataset, we will train our model with all availabe data.

from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

#Fitting model with trainig data
regressor.fit(X, y)

# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))

# Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))
print(model.predict([[2, 9, 6]]))